@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Asset Manager";
}

<div class="container rounded shadow-lg p-3 rounded justify-content-xl-center text-center">
    <div class="row">
        <div class="col-md-6">
            <h1>Assets List</h1>
        </div>
        <div class="col-md-6">
            <a href="/Asset/Asset/Upsert" class="btn btn-primary text-light">Create a new Asset</a>
        </div>
    </div>

    <div class="p-4 rounded">
        <table id="asset-data" class="table table-bordered w-100">
            <thead class="thead-dark">
                <tr class="table-info">
                    <th>Asset ID</th>
                    <th>Asset Desc.</th>
                    <th>Asset Location</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/asset.js"></script>
}
