@model SCDT52CW2Models.Assets
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Asset Management";
}

<form method="post" asp-action="Upsert">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <label asp-for="AssetID"></label>
            </div>
            <div class="col-8">
                <input asp-for="AssetID" class="form-control" />
            </div>
            <div class="col-4">
                <label asp-for="Desc"></label>
            </div>
            <div class="col-8">
                <input asp-for="Desc" class="form-control" />
            </div>
            <div class="col-4">
                <label asp-for="Location"></label>
            </div>
            <div class="col-8">
                <input asp-for="Location" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-8 offset-4 pt-1">
                @if (Model.Id != 0)
                {
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-primary form-control" asp-route-id="@Model.Id">Update</button>
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
                        </div>
                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-primary form-control">Create</button>
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
                        </div>
                    </div>}
            </div>
        </div>
    </div>
</form>