@model IEnumerable<SCDT52CW2Models.GeneralIssue>

<h1>General Issues</h1>

<table class="table table-striped">
    <thead>
        <tr class="table-secondary">
            <th>
                @Html.DisplayNameFor(model => model.IssueID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desc)
            </th>
            <th>
                <label>Options</label>
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.IssueID)</td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Desc)</td>
            </tr>
            <tr>
                <a class="btn btn-primary" asp-controller="Issue" asp-action="UpsertGeneral">Manage</a>
            </tr>
        }
    </tbody>
</table>
