@model SCDT52CW2Models.Update

<h1>Issue Update</h1>

<form method="post">
    <div class="container shadow-lg p-3 rounded justify-content-xl-center text-center">
        <div class="row">
            <div class="col-md-6">
                <label asp-for="Notes"></label>
            </div>
            <div class="col-md-6">
                <input asp-for="Notes" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label asp-for="isResolved"></label>
            </div>
            <div class="col-md-6">
                <input asp-for="isResolved" />
            </div>
        </div>
    </div>
</form>