@model SCDT52CW2Models.GeneralIssue
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "General Issue Manager";
}

<form method="post" asp-action="UpsertGeneral">
    <div class="container">
        <div class="row">
            <div class="col-4">

            </div>
            <div class="col-8">

            </div>
        </div>
    </div>
</form>

